<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!---Hibernate connection details-->
        <property name="connection.url">jdbc:oracle:thin:@//192.168.0.9:1521/mydatabase</property>
        <property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="connection.username">spring_hibernate_mvc</property>
        <property name="connection.password">Iofdtiger#16</property>

        <!--SQL Dialect-->
        <property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>

        <!--Printing the SQL code in the print lines-->
        <property name="show_sql">true</property>

        <!--configuring a very basic connection pool with the default pool size-->
        <!--<property name="connection.pool_size" >1</property>-->
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
        <!--<property name="show_sql" />-->
        <!--<property name="hibernate.id.new_generator_mappings" >false</property>-->

        <property name="hbm2ddl.auto">update</property>

        <!--####################All Hibernate Mappings################-->
        <!--<mapping resource="jpahibernate/model/dao/hello_world_mapping.hbm.xml" />-->
        <!--<mapping class="jpahibernate.model.HelloWorld
        <mapping class="jpahibernate.model.Person" />-->

        <!--<mapping class="jpahibernate.model.Employee" />
        <mapping class="jpahibernate.model.Department" />-->

        <!--<mapping class="jpahibernate.model.Citizen" />
        <mapping class="jpahibernate.model.SSNEntry" />-->

        <!--setting the current session context-->
        <!--<property name="current_session_context_class" >thread</property>-->

        <!--<mapping class="jpahibernate.model.Course" />
        <mapping class="jpahibernate.model.Student" />-->


        <mapping class="springmvcupdated.entity.StudentExamResults" />
        <mapping class="springmvcupdated.entity.Student" />
        <mapping class="springmvcupdated.entity.SemesterExam" />
        <mapping class="springmvcupdated.entity.DisciplineSubjects" />
        <mapping class="springmvcupdated.entity.SubjectSemesterMapping" />
        <mapping class="springmvcupdated.entity.RegistrationInfo" />
        <mapping class="springmvcupdated.entity.AdminUser" />

        <!--<mapping class="jpahibernate.model.Citizen" />
        <mapping class="jpahibernate.model.SSNEntry" />-->

    </session-factory>
</hibernate-configuration>